@font-face {
  font-family: "Moon Font";
  src: local("MoonFont"), url("./Fonts/moon_font.otf");
}

@font-face {
  font-family: "Moon Font 2";
  src: local("MoonFont_2"), url("./Fonts/moon_font_2.ttf");
}