.notifications_page {
  padding: 10px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(25, 31, 39, 0.8);
  backdrop-filter: blur(3px);
}

.notification {
  font-family: "Moon Font 2", serif;
  margin: 10px;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  border-radius: 2px;
  background-color: rgba(83, 96, 116, 0.4);
  backdrop-filter: blur(4px);

  .button {
    background-color: rgba(190, 194, 219, 0.87);
    padding: 5px;
    border-radius: 2px;
  }
}